{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'story7.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
<iframe src="http://free.timeanddate.com/clock/i78fikmf/n108/tlid38/fn12/fcfff/tct/pct" frameborder="0" width="70" height="18" allowTransparency="true"></iframe>

<p style="color: #3b8d99">&copy;2020 Nikita Jacey</p>
    <p class="line anim-typewriter">What's on your mind?</p>

    <div class="form">
        <form action='' method="POST">
            {% csrf_token %}
            <ul style="list-style: none;">
                <li>Name  <br>{{frm.name}}</li>
                <br>
                <li>Message <br> {{frm.message}}</li>
                <br>
                <button name="submit" type="submit" class="buttons">Submit</button>

            </ul>
        </form>
    </div>
<div id = tulisan>
    <h3>Messanges</h3>
    <div class="table">
        <table class="table1">
            {% for i in frm2%}
            <ul style="border-style: solid; border-color: white;list-style: none;border-width: thin;padding: 1em;">
                <li>{{i.name}}</li>
                <li>"{{i.message}}"</li>
                <li style="font-size: 10px;">{{i.time}}</li>
            </ul>
            {% endfor %}
        </table>
    </div>
</div>
</body>

</body>
</html>