@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-image: linear-gradient(90deg, #5D26C1,#59C173);
        color: rgba(255, 255, 255, 0.75);
        font-family: 'Anonymous Pro', monospace;
        background-color: rgb(25, 25, 25);
        height: calc(100vh - 8em);
        padding: 4em;
}

.r{
      position: relative;
      font-size: 180%;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
}
.adj{
      position: relative;
      top: 40%;
      margin: 0 auto;
           margin: 0 auto;

}

.teks{
width: 40%;
}
