body{
  background-image: linear-gradient(-90deg, #59C173, #5D26C1);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#tulisan{
    float: right;
    width: 20%;
}
.main{
      height: calc(100vh - 8em);
}
.form{
      position: relative;
      top: 30%;
      width: 16em;
      margin: 0 auto;
}

